h1{
    color:yellow;
    margin: top center;
    width: 300px;
    border: 15px dotted black;
    padding: 5px;
}
h1{
    list-style-position: top;
}
h2{
    color: blueviolet;
    margin-left: 680px;
    width: 300px;
    border: 15px dotted black;
    padding: 5px;
}

body{
    
    background-color:aqua;
}
.content{
    color: blue;
}
body{
    background-image: url(download.jpg);
     background-repeat: no-repeat;
     background-size: cover;

    /* background-image: url(https://image.shutterstock.com/image-photo/kuala-lumpur-malaysia-august-25-260nw-1165039456.jpg); */
}
input{
    margin-left: 150px;
}